@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 4.5rem;
  color: #0ccac4;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.App {
  text-align: center;
}
